/* common styles  */
@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&family=Monoton&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Bellota Text", cursive;
  font-weight: 400;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  overflow-x: hidden;
}

.section-heading {
  font-size: 10rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
  text-align: center;
  opacity: 1;
  text-shadow: 2rem 2rem 4rem #aaa;
}

/* end of common styles  */

/* section 1  */

.section-1 {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: relative;
}

.floating-bg {
  width: 150vw;
  height: 150vw;
  background-color: rgba(255, 50, 238, 0.8);
  position: absolute;
  top: -125vw;
  left: calc(50% - 75vw);
  border-radius: 45%;
  animation: rotate 25s infinite;
}

.floating-bg::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 50, 238, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40%;
  animation: rotate 25s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.navbar {
  position: relative;
  z-index: 100;
  top: 4rem;
  display: flex;
  justify-content: space-evenly;
}

.navbar-link {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: #fff;
  width: 2rem;
  word-wrap: break-word;
  text-align: center;
  transition: all 0.5s;
}

.navbar-link:hover {
  width: 15rem;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 1.5s;
}

.section-1-heading {
  font-size: 8rem;
  font-family: "Monoton", cursive;
  position: absolute;
  top: 18vw;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.7);
  width: 85rem;
  text-align: center;
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  opacity: 0.7;
}

.logo {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.logo i {
  font-size: 15rem;
  color: rgba(255, 50, 238, 0.7);
  text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.26),
    -0.3rem -0.3rem 0.5rem #ddd;
}

/* end of section 1  */

/* section 2 */

.section-2 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.customers-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
}

.customer {
  width: 35rem;
  height: 50rem;
  background-color: #999;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #eee;
  transition: all 0.3s;
}

.customer:hover {
  transform: scale(1.05);
  box-shadow: 2rem 2rem 3rem #ddd, -2rem -2rem 3rem #eee;
  cursor: pointer;
}

.customer:first-child {
  align-self: flex-end;
}
.customer:last-child {
  align-self: flex-start;
}

.fa-quote-left {
  font-size: 4rem;
  color: #f08e0f;
}

.customer-text {
  font-size: 1.5rem;
  margin: 2.5rem 0;
  text-align: justify;
}

.customer-text::first-letter {
  margin-left: 1rem;
}

.customer-rating i {
  font-size: 2rem;
  color: #f08e0f;
}

.customer-img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  margin: 2rem 0;
  border-radius: 50%;
}

.customer-name {
  font-size: 2rem;
  font-weight: bold;
}
/* end of section 2 */

/* section 3 */

.section-3 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem 0;
}

.team-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
}

.team-member {
  width: 35rem;
  background-color: #fffeee;
  padding: 1rem 1rem 2rem 1rem;
  box-shadow: 1rem 2rem 2rem #aaa, -2rem -3rem 3rem #999;
  border-radius: 10px;
  position: relative;
  opacity: 0.8;
  transition: all 0.5s;
}

.team-member:hover {
  transform: scale(1.01);
  opacity: 1;
}

.team-member:first-child {
  align-self: flex-end;
}
.team-member:last-child {
  align-self: flex-start;
}

.team-member-img {
  width: 100%;
  border-radius: 3px;
}

.team-member-name {
  font-size: 2.5rem;
  font-weight: 700;
  color: #796717;
  margin-top: 2rem;
}

.team-member-name span {
  font-size: 1.5rem;
}

.team-member-skills {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2rem 0;
}

.team-member-skills li {
  font-size: 1.2rem;
  font-weight: 700;
  color: #2e1919;
}

.projects-btn {
  background-color: #f08e0f;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.16rem;
}

.story-btn {
  width: 4rem;
  height: 4rem;
  background-color: #000;
  position: absolute;
  top: -1rem;
  right: -1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.5s;
}

.change.story-btn {
  transform: rotate(405deg);
}

.story-btn-line {
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
}

.story {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.664);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  transform: scale(0);
  transform-origin: top right;
  border-radius: 50rem 0 50rem 50rem;
  transition: all 0.5s;
}

.change.story {
  transform: scale(1);
  border-radius: 10px;
}

.story-heading {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 2rem;
}

.story-paragraph {
  font-size: 1.3rem;
  color: #eee;
  text-align: justify;
  letter-spacing: 0.1rem;
  text-indent: 2rem;
}

/* end of section 3 */

/* section 4 */

.section-4 {
  width: 100%;
  height: 130vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-container {
  width: 80%;
  height: 40%;
  background-color: #e2e5f8c4;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0.5rem 0.5rem 0.7rem #ccc, -0.1rem -0.1rem 0.4rem #ccc;
  border-radius: 0.5rem;
  perspective: 100rem;
}

.form-img {
  width: 55rem;
  background-color: rgba(255, 50, 238, 0.7);
  padding: 5rem;
  opacity: 0.8;
  box-shadow: -3rem 3rem 4rem #aaa;
  border-radius: 0.5rem;
  transform: rotateY(20deg);
  transition: all 0.5s;
}

.form-img:hover {
  transform: translateY(-2rem);
  box-shadow: 5rem 5rem 7rem #aaa;
}

.contact-form {
  width: 45rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 3rem 3rem 4rem #aaa;
  transform: rotateY(-20deg);
  transition: all 0.5s;
}

.contact-form:hover {
  transform: translateY(-2rem) scale(1.1);
  box-shadow: -5rem 5rem 7rem #aaa;
}

.contact-form input,
.contact-form textarea {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 1rem;
  box-shadow: inset 0.01rem 0.01rem 0.3rem #ddd,
    inset -0.01rem -0.01rem 0.3rem #ddd;
}

.contact-form textarea {
  max-width: 95%;
  min-width: 70%;
  max-height: 15rem;
  min-height: 10rem;
}

.contact-form input[type="submit"] {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-weight: bolder;
  letter-spacing: 0.5rem;
  cursor: pointer;
  transition: background-color 0.5s;
}

.contact-form input[type="submit"]:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.copyright {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: #444;
  margin-top: 5rem;
}

/* end of section 4 */

.scroll-up-btn {
  width: 5rem;
  height: 5rem;
  background-color: rgba(255, 50, 238);
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 2.2rem;
  font-weight: bolder;
  color: #fff;
  transition: background-color 0.5s;
}

.scroll-up-btn:hover {
  background-color: rgba(255, 50, 238, 0.9);
}

/* responsive */

@media (max-width: 1450px) {
  .floating-bg {
    top: -120vw;
  }

  .section-1-heading {
    top: 22vw;
    font-size: 7.2rem;
  }

  .navbar-link {
    width: 1.7rem;
    font-size: 2rem;
  }

  .logo {
    top: 75%;
  }

  .logo i {
    font-size: 13rem;
  }

  .section-heading {
    margin-bottom: 10rem;
    font-size: 8rem;
  }

  .section-2 {
    height: auto;
  }

  .customers-wrapper {
    flex-wrap: wrap;
  }
  .customer {
    margin: 5rem 10rem;
  }
  .section-3 {
    height: auto;
  }
  .team-wrapper {
    flex-wrap: wrap;
  }
  .team-member {
    margin: 5rem 10rem;
  }
  .section-3 {
    height: auto;
  }
  .form-container {
    height: 60%;
  }
  .form-img {
    display: none;
  }
  .contact-form {
    transform: translateY(0);
  }
  .copyright {
    margin: 5rem 0;
    font-size: 1.6em;
  }
}

@media (max-width: 1250px) {
  .floating-bg {
    top: -115vw;
  }
  .section-1-heading {
    top: 25vw;
    font-size: 6rem;
    width: 70rem;
  }

  .navbar-link {
    width: 1.5rem;
    font-size: 1.7rem;
  }

  .logo i {
    font-size: 10rem;
  }
}

@media (max-width: 1050px) {
  .floating-bg {
    top: -110vw;
  }
  .section-1-heading {
    top: 30vw;
    font-size: 5rem;
    width: 60rem;
  }
  .navbar-link {
    font-size: 1.5rem;
    width: 1rem;
  }
  .logo i {
    font-size: 9rem;
  }
  .section-heading {
    font-size: 7rem;
  }
}

@media (max-width: 850px) {
  .floating-bg {
    top: -100vw;
  }
  .section-1-heading {
    top: 35vw;
    font-size: 4.5rem;
    width: 50rem;
  }
  .navbar-link {
    font-size: 1.2rem;
  }
  .logo i {
    font-size: 8rem;
  }
  .section-heading {
    font-size: 5rem;
  }

  .customer {
    height: 53vh;
    width: 48%;
  }
  .customer-text {
    font-size: 1.3rem;
  }
  .team-member {
    height: 53vh;
    width: 48%;
  }
  .team-member-name {
    font-size: 2rem;
  }
  .team-member-name span {
    font-size: 1.3rem;
  }

  .team-member-skills li {
    font-size: 1.1rem;
  }
  .projects-btn {
    font-size: 1.1rem;
  }
  .copyright {
    font-size: 1.3rem;
  }
  .scroll-up-btn {
    right: 2rem;
  }
}

@media (max-width: 650px) {
  .floating-bg {
    top: -95vw;
  }
  .section-1-heading {
    top: 40vw;
    font-size: 4rem;
    width: 45rem;
  }
  .navbar-link {
    font-size: 1.1rem;
  }
  .team-member {
    height: 43vh;
  }
  .contact-form {
    width: 33rem;
  }
}

@media (max-width: 550px) {
  .floating-bg {
    top: -90vw;
  }
  .section-1-heading {
    top: 43vw;
  }
  .customer {
    height: 55vh;
  }
  .team-member {
    height: 39vh;
  }
}
@media (max-width: 460px) {
  .floating-bg {
    top: -80vw;
  }
  .section-1-heading {
    top: 45vw;
  }
  .customer {
    height: 56vh;
  }
  .team-member {
    height: 39vh;
  }
  .story-btn {
    width: 3rem;
    height: 3rem;
  }
  .contact-form {
    width: 27rem;
  }
}
@media (max-width: 460px) {
  .floating-bg {
    top: -80vw;
  }
  .section-1-heading {
    top: 45vw;
    font-size: 2.9rem;
  }
  .customer {
    height: 49vh;
  }
  .team-member {
    height: 39vh;
  }
  .contact-form {
    width: 27rem;
  }
  .navbar-link {
    font-size: 1rem;
  }
  .logo {
    top: 60%;
  }
  .customer-img {
    width: 10rem;
    height: 10rem;
  }
  .section-heading {
    font-size: 4rem;
  }
  .customer-text {
    font-size: 1.25rem;
  }
  .story-btn {
    width: 3rem;
    height: 3rem;
  }
}

/* end of responsive */
